@import "../variables/variables";

.weather--list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
  &-temp {
    display: flex;
    justify-content: center;
  }
  &-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    &-day {
      font-size: 15px;
      text-align: center;
      color: $brand-3;
      margin-top: 0px;
    }
    &-max {
      font-size: 14px;
    }
    &-min {
      margin-left: 5px;
      display: inline;
      font-size: 14px;
      text-align: center;
      opacity: 0.6;
    }
  }
}

.weather--list-li {
  list-style: none;
}
