@import "../variables/variables";

.city--button {
  height: 40px;
  background: none;
  border: 0;
  color: $brand-2;
  opacity: 0.5;
  font-size: 22px;
  cursor: pointer;
}
.city--button:hover {
  opacity: 1;
}
